body {
        text-align: center;
        color: white;
        font-family: OstrichSans-Black;
				background-image: url("../images/blurry-lights.png");
				background-size: cover;
				background-position: right top;
				background-attachment: fixed;
}
@font-face {
font-family: "Ostrich Sans Black";
src:
url("fonts/OstrichSans-Black.otf") format("opentype");
}
header {
font-family: OstrichSans-Black;
  background: url('images/france_paris_clownbar.png');
  background-size: cover;
  color: white;
  background-attachment: fixed;
  min-height: 450px;
  align-content: center;
}
.container {
  background: rgba(255, 255, 255, 0.6);
	width: 90%;
}
tr {
  align-content: center;
}
a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
p {
  text-align: center;
  padding: 20px 20px 20px 20px;
}
h1 {
  font-size: 200px;
  font-style: italic;
  text-align: center;
  color: black;
  padding: 0px 20px 0px 20px;
}
h2 {
  font-style: italic;
  padding: 30px 20px 20px 20px;
  color:white;
}
h3 {
  padding: 30px 20px 10px 20px;
  font-style: italic;
}
h4 {
  padding: 20px 20px 20px 20px;
  font-style: italic;
}
img {
  margin: 30px 10px 10px 0px;
}
ul {
  padding: 10px;
  background: #3a4159;
}
li {
  display: inline;
  padding: 0px 20px 0px 20px;
}
.about {
  font-size: 20px;
  color: #3a4159;
}
.post {
  text-align: center;
}
.post img{
    display: inline-grid;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    width: 300px;
    height: 300px;
}
.post-text {
  padding: 20px 100px 20px 100px;
  font-weight: normal;
  font-size: 20px;
  color: #3a4159;
}
h2 a{
  color: white;
  font-size: 30px;
}
blockquote {
  font-size: 20px;
}
body {
  text-align: center;
  align-items: center;
}
.aboutus td {
  width: 600px;
  max-width: 600px;
  device-width: 200px;
  text-align:justify;
  vertical-align:top;
  padding: 10px 30px 20px 30px;
}
.aboutus th {
  text-align: center;
  vertical-align:top;
}
.about h2{
  color: white;
}
.name {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
table {
  text-align: center;
  align-content: center;
  padding-bottom: 30px;
}
.insta {
  color: white;
  font-size: 30px;
}
.bottom img {
  width: 100px;
  height: 100px;
}

.bottom td{
  vertical-align: middle;
  align: middle;
  width: 100px;
  padding: 0px 10px 0px 0px;
}
.bottom tr{
  width: 200px;
  align: middle;
}
.bottom {
  background-color: #3a4159;
  color: white;
}

/*CAROUSEL CSS*/

* {box-sizing: border-box}
.slideshow-container body {font-family: Ostrich; margin:0}
.mySlides {display: none}
.slideshow-container img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
